* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    height: 100vh;
}
.header-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 30px;
}
.header-section a,div {
    color: white;
}
.links-logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}
.nav-link-container {
    display: flex;
    gap: 30px;
}
.nav-link-container a {
    text-decoration: none;
}
.div-header-logo {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}
.header-part-two {
    display: flex;
    align-items: center;
    justify-content: space-around
}
.header-part-two-right img {
    object-fit: contain;
}
.header-part-two-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 550px;
    
}
.header-part-two-left p{
    width: 80%;
}
.header-part-two-left h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    width: 60%;
}
.header-part-two-left p {
    font-size: 18px;
    color: #E5E7EB;
    width: 70%;
}
.header-part-two-left button {
    height: 35px;
    width: 100px;
    background-color: #3882F6;
    border: none;
    font-weight: 700;
    font-size: 15px;
    border-radius: 7px;
    color: white;
}
.header-part-two-left button:hover {
    background-color: rgb(0, 77, 155);
}
.header-part-two-right {
    margin-left: -250px;
}
.section-two {
    padding-top: 40px;
    padding-bottom: 80px;
}
.section-two-sub {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}
.section-two h1 {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    /* USING TEXT-ALIGN HERE TEMPORARILY MIGHT USE FLEXBOXES LATER UNSURE: KEEP TRACK */
    text-align: center;
}
.section-two-image {
    border: none;
    height: 130px;
    width: 130px;
    border-radius: 10px;
    margin-bottom: 7px;
}
.image-text-container {
    display: flex;
    flex-direction: column;
    
}
.image-text-container p {
    color: #5a5a5a;
    font-size: 15px;
    width: 160px;
}
.third-section-sub p {
    color: black;
}
.third-section {
    background-color: #E5E7EB;
    padding-bottom: 70px;
}
.quote-section-quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 60%;
    margin-top: 100px;
}
.quote-section-author {
    font-size: 25px;
    font-weight: 500;
    color: #1F2937;
    margin-left: 500px;
}
.third-section-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-up-section {
    display: flex;
    justify-content: center;
}
.sign-up-text {
    background-color: #3882F6;
    height: 100px;
    width: 900px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
}
.sign-up-left h4 {
    font-size: 22px;
}
.sign-up-button button {
    height: 35px;
    width: 100px;
    background-color: #3882F6;
    border: solid 1px white;
    font-weight: 700;
    font-size: 15px;
    border-radius: 7px;
    color: white;
}
.sign-up-button button:hover {
    background-color: white;
    color:#3882F6;
}
.sign-up-button button:active {
    height: 24px;

}
footer {
    background-color: #1F2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    color: white;
}